<<<<<<< HEAD
.desc-title{
=======
.desc-title {
>>>>>>> 4b0f4764bd07f5ca6aedf98b33a6809d5d84cb20
  font-family: 'Great Vibes', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

<<<<<<< HEAD
.desc-subtitle{
=======
.desc-subtitle {
>>>>>>> 4b0f4764bd07f5ca6aedf98b33a6809d5d84cb20
  font-family: 'Great Vibes', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

<<<<<<< HEAD
.desc-main-img{
    width: 100%;
    aspect-ratio: 16/9;
    scale: 2;
    margin-top: -40px;
}

.desc-color-img{
=======
.desc-main-img {
  width: 100%;
  aspect-ratio: 16/9;
  scale: 2;
  margin-top: -30px;
}

.desc-color-img {
>>>>>>> 4b0f4764bd07f5ca6aedf98b33a6809d5d84cb20
  width: 40px;
  height: 40px;
  padding: 2px;
}
<<<<<<< HEAD
.desc-color-img-active{
  border: 2px solid rgb(24, 26, 164);
}

.desc-color-img:hover{
  cursor: pointer !important;
}

.color-title{
=======

.desc-color-img-active {
  border: 2px solid rgb(24, 26, 164);
}

.desc-color-img:hover {
  cursor: pointer !important;
}

.color-title {
>>>>>>> 4b0f4764bd07f5ca6aedf98b33a6809d5d84cb20
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Great Vibes', cursive;
  font-family: 'Roboto', sans-serif;
}
<<<<<<< HEAD
.selected-color-name{
=======

.selected-color-name {
>>>>>>> 4b0f4764bd07f5ca6aedf98b33a6809d5d84cb20
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.6;
}
<<<<<<< HEAD
.desc-icon{
=======

.desc-icon {
>>>>>>> 4b0f4764bd07f5ca6aedf98b33a6809d5d84cb20
  width: 50px;
  height: 50px;
}