.sport-hero{
    background-image:    url(https://www.mercedes-benz.com/en/more-about-sports/_jcr_content/root/slider/sliderchilditems/slideritem/image/MQ7-0-image-20220708101718/01-mercedes-benz-sport-3400x1440.jpeg);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center center; 
    min-height: 90vh;
}
.sport-desc-img{
    width: 100%;
    max-height: 600px;
    padding: 10px;
}