.sport-hero{
    background-image:    url(https://drive.google.com/uc?export=view&id=152Zajpdjx7rTuSwG4mr2mpTDyLHjqL6F);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center center; 
    min-height: 90vh;
}
.sport-desc-img{
    width: 100%;
    max-height: 600px;
    padding: 10px;
}