.footer-divider{
    border: 1px solid whitesmoke;
    width: 100%;
    margin-bottom: 20px;
}
.footer-desc-text{
    font-size: 14px;
    color: whitesmoke;
    padding-left: 8px;
    font-family: 'Roboto', sans-serif;
}