.life-style-div{
    min-height: 90vh;
    width: 100%;
}

.classic-caps-image{
    width: 100%;
    aspect-ratio: 16/9;
}

.caps-title{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
}

.youth-text{
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive !important;
    font-family: 'Roboto', sans-serif !important;
}