.all-vehicles{
    text-align: center;
    font-size: 2rem;
}
.category-text{
    color: rgba(14, 12, 12, 0.833) !important;
    font-size: 1rem !important;
}
.MuiTypography-h6:hover, .category-text :hover {
    color : rgba(84, 84, 237, 0.669) !important;
    cursor: pointer !important;
}

.vehicle-card-list{
    border-bottom:  1px solid rgba(0, 0, 0, 0.588) !important;
    margin: 8px !important;
    min-height: 250px !important;
}
.vehicle-card-list :hover{
  scale: 1.2 !important;
  cursor: pointer !important;
}

.vehicle-title-text{

}
.vehicle-price-text{

}
.vehicle-card-image{
    width: 100%  !important;
}
